<div class="content-body">
    <div class="container-fluid">
        <div class="row mb-2 mt-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Product Offer</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card-header">
            <h4 class="card-title">Edit Product Offer</h4>
        </div>
        <form action="/admin/offers/productOffers/edit/{{offer._id}}" method="post">
            <div class="form-group">
                <label for="name">Offer Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{offer.name}}" required>
            </div>
            <div class="form-group">
                <label for="discount">Discount (%)</label>
                <input type="number" class="form-control" id="discount" name="discount" value="{{offer.discount}}" required>
            </div>
            <div class="form-group">
                <label for="product">Product</label>
                <select class="form-control" id="product" name="product" required>
                    {{#each products}}
                    <option value="{{this._id}}" {{#if (eq this._id ../offer.product._id)}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" name="startDate" value="{{offer.startDate}}" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" value="{{offer.endDate}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Product Offer</button>
        </form>
    </div>
</div>
