<div class="content-body">
    <div class="container-fluid">
        <div class="row mb-2 mt-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Offers Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card-header">
            <h4 class="card-title">Offer Management</h4>
        </div>
        <a href="/admin/offers/add" class="btn btn-primary mb-3 mt-3">Add Offer</a>
        {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        <table class="table table-bordered" id="example">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Discount</th>
                    <th>Category</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each offers}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.discount}}%</td>
                        <td>{{this.category.name}}</td>
                        <td>{{formatDate this.startDate}}</td>
                        <td>{{formatDate this.endDate}}</td>
                        <td>{{this.status}}</td>
                        <td><a href="/admin/offers/edit/{{this._id}}" class="btn btn-warning">Edit</a></td>
                        <td>
                            <button class="btn btn-danger toggle-status" data-id="{{this._id}}">{{#if (eq this.status 'active')}}Deactivate{{else}}Activate{{/if}}</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
   $(document).ready(function() {
        $('#example').DataTable({
            "paging": true,
            "searching": true,
            "info": true,
            "lengthChange": false,
            "pageLength": 10
        });

        // SweetAlert for Toggle button
        $('.toggle-status').on('click', function() {
            var offerId = $(this).data('id');
            var button = $(this);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, change it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/admin/offers/toggle/${offerId}`,
                        type: 'POST',
                        success: function(response) {
                            if(response.success) {
                                Swal.fire(
                                    'Changed!',
                                    'Offer status has been changed.',
                                    'success'
                                );
                                if (button.text() == 'Deactivate') {
                                    button.text('Activate');
                                } else {
                                    button.text('Deactivate');
                                }
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'There was an error changing the status.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            });
        });
    });
</script>
