<div class="content-body">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Offer Management</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Offer Management</h4>
                        <a href="/admin/offers/create" class="btn btn-primary">Create Offer</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Discount</th>
                                        <th>Category</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each offers}}
                                    <tr>
                                        <td>{{this.name}}</td>
                                        <td>{{this.discount}}</td>
                                        <td>{{this.category.name}}</td>
                                        <td>{{formatDate this.startDate}}</td>
                                        <td>{{formatDate this.endDate}}</td>
                                        <td>{{this.status}}</td>
                                        <td>
                                            <a href="/admin/offers/edit/{{this._id}}" class="btn btn-warning">Edit</a>
                                            <form action="/admin/offers/delete/{{this._id}}" method="post" style="display:inline;">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
