<section class="single-product">
    <div class="container">
        {{!-- Breadcrums --}}
        <div class="row mb-2 mt-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner'>
                                <div class='item active'>
                                    <img id="zoom_01" src="/uploads/products/{{product.mainImage}}" data-zoom-image="/uploads/products/{{product.mainImage}}" class="img-fluid" alt="{{product.name}}">
                                </div>
                                {{#each product.subImages}}
                                    <div class='item'>
                                        <img src="/uploads/products/{{this}}" data-zoom-image="/uploads/products/{{this}}" class="img-thumbnail zoom-img" alt="{{../product.name}}">
                                    </div>
                                {{/each}}
                            </div>
                            <!-- sag sol -->
                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <i class="tf-ion-ios-arrow-left"></i>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <i class="tf-ion-ios-arrow-right"></i>
                            </a>
                        </div>
                        <!-- thumb -->
                        <ol class='carousel-indicators mCustomScrollbar meartlab'>
                            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                                <img src="/uploads/products/{{product.mainImage}}" class="img-fluid" alt="{{product.name}}">
                            </li>
                            {{#each product.subImages}}
                                <li data-target='#carousel-custom' data-slide-to='{{@index}}'>
                                    <img src="/uploads/products/{{this}}" class="img-thumbnail" alt="{{../product.name}}">
                                </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{product.name}}</h2>
                    <p class="product-price">₹{{product.price}}</p>
                    <p>{{product.description}}</p>
                    <div class="product-size">
                        <span>Size:</span>
                        <select class="form-control">
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                            <option>XXL</option>
                            <option>XXXL</option>
                        </select>
                    </div>
                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="0" name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>Categories:</span>
                        <ul>
                            <li>{{product.category.name}}</li>
                        </ul>
                    </div>
                    <a href="cart.html" class="btn btn-main mt-20">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>
