<section class="single-product">
    <div class="container">
        <!-- Breadcrumbs -->
        <div class="row mb-2 mt-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        {{!-- Product Details --}}
        <div class="row mt-20">
            <div class="col-md-5">
             <div class="single-product-slider">
    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
        <div class='carousel-outer'>
            <!-- Main image slider -->
            <div class='carousel-inner'>
                <div class='item active'>
                    <img id="zoom_01" src="/uploads/products/{{product.mainImage}}"
                        data-zoom-image="/uploads/products/{{product.mainImage}}" class="img-fluid zoom-img"
                        alt="{{product.name}}">
                </div>
                {{#each product.subImages}}
                <div class='item'>
                    <img src="/uploads/products/{{this}}" data-zoom-image="/uploads/products/{{this}}"
                        class="img-thumbnail zoom-img" alt="{{../product.name}}">
                </div>
                {{/each}}
            </div>
            <!-- Navigation arrows -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <i class="tf-ion-ios-arrow-left"></i>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                <i class="tf-ion-ios-arrow-right"></i>
            </a>
        </div>
        <!-- Thumbnail indicators -->
        <ol class='carousel-indicators mCustomScrollbar meartlab'>
            <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                <img src="/uploads/products/{{product.mainImage}}" class="img-fluid zoom-thumb"
                    data-zoom-image="/uploads/products/{{product.mainImage}}" alt="{{product.name}}">
            </li>
            {{#each product.subImages}}
            <li data-target='#carousel-custom' data-slide-to='{{@index}}'>
                <img src="/uploads/products/{{this}}" class="img-thumbnail zoom-thumb" 
                     data-zoom-image="/uploads/products/{{this}}" alt="{{../product.name}}">
            </li>
            {{/each}}
        </ol>
    </div>
</div>

            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>{{product.name}}</h2>
                    <p class="product-price">₹{{product.price}}</p>
                    <p>{{product.description}}</p>
                    <div class="product-size">
                        <span>Size:</span>
                        <select class="form-control">
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                            <option>XXL</option>
                            <option>XXXL</option>
                        </select>
                    </div>
                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="0" name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>Categories:</span>
                        <ul>
                            <li>{{product.category.name}}</li>
                        </ul>
                    </div>
                    <!-- Availability message -->
                    <p class="{{#if product.displayStatus}}text-success{{else}}text-danger{{/if}}">
                        This product is {{product.displayStatus}}.
                    </p>
                    {{#unless (or (eq product.displayStatus 'Unavailable') (eq product.displayStatus 'Out of stock'))}}
                    <a href="cart.html" class="btn btn-main mt-20">Add To Cart</a>
                    {{/unless}}
                </div>
            </div>
        </div>
        {{!-- Reviews --}}
       <div class="row">
    <div class="col-xs-12">
        <div class="tabCommon mt-20">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
                <li><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
            </ul>
            <div class="tab-content patternbg">
                <div id="details" class="tab-pane fade active in">
                    <h4>Product Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </div>
                <div id="reviews" class="tab-pane fade">
                    <div class="post-comments">
                        <ul class="media-list comments-list m-bot-50 clearlist">
                            <!-- Comment Item start-->
                            <li class="media">
                                <a class="pull-left" href="#!">
                                    <img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
                                        alt="" width="50" height="50" />
                                </a>
                                <div class="media-body">
                                    <div class="comment-info">
                                        <h4 class="comment-author"><a href="#!">Jonathon Andrew</a></h4>
                                        <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                        <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                </div>
                            </li>
                            <!-- End Comment Item -->
                            <!-- More Comment Items -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</section>
<section>
    <div class="container">
        <!-- Related Products Section -->
        <div class="row mt-5">
            <div class="col-12">
                <h3>Related Products</h3>
            </div>
            {{#each relatedProducts}}
            <div class="col-md-3">
                <div class="product-item">
                    <div class="product-thumb">
                        <img src="/uploads/products/{{this.mainImage}}" class="img-fluid" alt="{{this.name}}">
                        <div class="preview-meta">
                            <ul>
                                <li>
                                    <a href="/products/{{this._id}}"><i class="tf-ion-ios-search-strong"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a href="/products/{{this._id}}">{{this.name}}</a></h4>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>